<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield (:title) %> | bulilding and app with liam</title>
    <%= csrf_meta_tags %>
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
     <header class="headSec">
      <h1>Liam’s Golf Store</h1>
      
      <ul>
        
        <li><%= link_to "Home",  "/" %></li>
        <li><%= link_to "About",     about_path %></li>
        <li><%= link_to "Help",     help_path %></li>
        <li><%= link_to "products",   "/products" %></li>
        
        <li><%= link_to "cart",   "/cart" %></li>
        
        <% if session[:login]== 1 %>
        
          <li><%= link_to "LogOut",     "/LogOut"  %></li>
         
         <% else %>
        
         <li><%= link_to "LogIn",      "/LogIn" %></li>
         
        <% end %>
      </ul>
      
      
    </header>

    <div class="container">
    <%= yield %>
    </div>

<footer class="foot">
<h1>I’m the Footer</h1>
</footer>
    
    
    
    
    
  </body>
</html>
